.normal{
    font-weight:normal;
}
a{
    text-decoration:none;
    color:black;
}
br{
    border:1px solid black;
}
.right{
    text-align:right;
}
table{
    width:100%;
}
.left{
    text-align:left;
}
body{padding: 60px;}